@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>!Bienvenidos!</h1>
    <p class="lead">Plataforma para asignación de premios de manera aleatoria. La arquitectura de la solución se componen de 
    una aplicacion web ASP.NET en MVC para el frontend, un servicio web para en acceso al backend y 
    una libreria de clases para el acceso a la base de datos en PostgreSQL.</p>
    <p>Adicional integra tecnologias de boostrap y jquery </p>

    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>